services:
  app_proxy:
    environment:
      # <app-id>_<service-name>_1
      APP_HOST: personal-ib-gateway_ibgateway_1
      APP_PORT: 8080

  ibgateway:
    image: personal-ib-gateway:latest
    build:
      context: .
      args:
        IBG_ARCH: ${IBG_ARCH:-linux-arm}
    restart: unless-stopped
    stop_grace_period: 1m
    environment:
      TZ: UTC
      RESOLUTION: 1280x800x24
      VNC_PASSWORD: ""
    ports:
      - "4001:4001"  # Live Trading API
      - "4002:4002"  # Paper Trading API
    volumes:
      - "${APP_DATA_DIR:-./data}/config:/config"
      - "${APP_DATA_DIR:-./data}/logs:/var/log/ibgateway"
